body {
    margin: 0;
    padding: 0;
    font-family: 'ubuntu', sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: .7px;
 }
 
 img {
   max-width: 100%;
   display: block;
 }
 
 .image-full {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   margin-bottom: 2em;
 }
        /*==================
             TYPOGRAPHY
         ==================*/
 
 h1,
 h2,
 h3 {
     color: #143774;
     font-weight: 300;
     margin: 0;
     
 }
 
 h1 {
   font-size: 2rem;
   font-family: 'Lora', serif;
   margin: 0 ;
   font-weight: 300;
 }
 
 h2 {
   font-size: 1.5rem;
 
 }
 
 .span-link {
   color: #143774;
   text-decoration: none;
 }
 
 .span-link:hover,
 .span-link:focus {
   color: #1792d2;
   text-decoration: underline;
 }
 
 .article-read-more,
 .article-info {
   font-size: .875rem;
 }
 
 .article-read-more {
   color: #1792d2;
   text-decoration: none;
   
 }
 
 .article-read-more:hover,
 .article-read-more:focus {
   color: #143774;
   text-decoration: underline;
 }
 
 header {
   background: #e4e1e1;
    text-align: center;
   padding: 1.5rem;
   margin-bottom: 3em;
 }
 
 .subtitle {
   color: #1792d2;
   font-weight: 700;
   font-size: .75rem;
   margin: 0;
 }
 .widget-title,
 .widget-recent-post-title {
   font-size: 1em;
 }
 
 .widget-title {
   font-weight: 700;
 }
 
          /*=============
            NAVIGATION
          ===============*/
 
 nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-top: .5em;
 }
 
 nav li {
  margin: .5em 0;
 }
 
 nav a {
   color: #707070;
   text-decoration: none;
   font-weight: 700;
   padding: .25em 0;
 }
 
 nav a:hover,
 nav a:focus {
  color: #1792d2;
 }
 
 .home {
   border-bottom: 1px solid #707070;
 }
 
 .home:hover,
 .home:focus{
   color: #707070;
 }
 
 
        /* =============
             LAYOUT
         ============*/
 
 .container {
   width: 90%;
   max-width: 900px;
   margin: 0 auto;
 }        
 
 footer {
   background: #143774;
   color: #e4e1e1;
   text-align: center;
   padding: .5em 0;
 }
 
 .container-flex {
   display: flex;
   flex-direction: column;
 }
 
 
 
             /* ARTICLE */
 
    .article-featured {
       border-bottom: #707070 1px solid;
       padding-bottom: 2em;
       margin-bottom: 2em;
    }         
    .article-featured{
       display: flex;
       flex-direction: column;
    }
 
    .article-image {
       order: -2;
    }
 
    .article-info {
     order: -1;
    }
 
    .article-recent {
     display: flex;
     flex-direction: column;
     margin-bottom: 3em;
    }
 
   .article-recent-main {
     order: 2;
   }
   .article-recent-secondary {
     order: 1;
   }
 
    
       
     .article-image {
       width: 100%;
       min-height: 200px;
       object-fit: cover
     }
       
          /* WIDGET */
 
 .sidebar-widget {
   border: 1.5em solid #e4e1e1;
   margin-bottom: 1em;
   padding: 1em;
 }         
     
 .widget-recent-post {
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid #707070;
   padding-bottom: 1em;
   margin-bottom: 1em;
 }
 
 .widget-recent-post:last-child {
   border: 0;
   margin: 0;
 }
 
 .widget-image {
   order: -1;
 }
  
          /* FOOTER */
   
  .footer,
  .footer-email {
   font-size: 1rem;
  }       
 
  .footer-email {
   margin-bottom: 0;
  }
  
  .footer {
   margin: 0;
  }
 

/*===media queries===*/

@media (min-width: 675px) {
    .container-flex {
      flex-direction: row;
      justify-content: space-between;
    }
    
    nav ul {
      flex-direction: row;
      
    }
  
    nav li {
       margin-left: 2em;
    }
  
    main {
      width: 65%;
    }

    aside {
       width: 30%;
       min-width: 245px;
       padding-left: 1em;
    }
  
    .article-recent {
      flex-direction: row;
      justify-content: space-between;
    }

    .article-recent-main {
       width: 65%;
    }

    .article-recent-secondary {
        width: 30%;
    }
  }